@mixin button($color: black) {
    position: relative;
    display: inline-block;
    height: 24px;
    min-width: 24px;
    padding: 3px;
    // background: rgba(0, 0, 0, .7);
    text-align: center;

    & > span {
        font-size: 18px;
    }

    &:active, &.active {
        color: $color;
    }

    &:hover {
        background: #eee;
        cursor: pointer;
    }
}